<%- include('./partials/head', { stylesheet: "home" }) %>

<%- include('./partials/header') %>

<main>
    <div class="Carrousel">
        <div class="slide">
            <div class="slide-inner">
                <input class="slide-open" type="radio" id="slide-1" 
                      name="slide" aria-hidden="true" hidden="" checked="checked">
                <div class="slide-item">
                    <img src="/img/products/PS4.jpg">
                </div>
                <input class="slide-open" type="radio" id="slide-2" 
                      name="slide" aria-hidden="true" hidden="">
                <div class="slide-item">
                    <img src="/img/products/Portátil Asus M3500QA-L1224 -Ryzen 7-5800H 16GB SSD 512GB 15,6 Oled.jpg">
                </div>
                <input class="slide-open" type="radio" id="slide-3" 
                      name="slide" aria-hidden="true" hidden="">
                <div class="slide-item">
                    <img src="/img/products/Board Asrock B550m Hdv Amd Am4 Chipset B550 Pcie 4.0 Matx.jpg">
                </div>
                <label for="slide-3" class="slide-control prev control-1">‹</label>
                <label for="slide-2" class="slide-control next control-1">›</label>
                <label for="slide-1" class="slide-control prev control-2">‹</label>
                <label for="slide-3" class="slide-control next control-2">›</label>
                <label for="slide-2" class="slide-control prev control-3">‹</label>
                <label for="slide-1" class="slide-control next control-3">›</label>
                <ol class="slide-indicador">
                    <li>
                        <label for="slide-1" class="slide-circulo">•</label>
                    </li>
                    <li>
                        <label for="slide-2" class="slide-circulo">•</label>
                    </li>
                    <li>
                        <label for="slide-3" class="slide-circulo">•</label>
                    </li>
                </ol>
            </div>
        </div>

    </div>

    
    <h2 class="titulo"> ULTIMAS NOVEDADES </h2>
    <section class="titulares">
        <% products.forEach(product => { %>
        <article class="item">
           <a href="/products/<%= product.id %> ">
           
            <div> <img class="foto" src="\img\products\<%= product.image %> " alt="Imagen de producto"></div>
                <div>
                    <h2 class="precio">$<%= product.price %></h2>
                    <h2 class="nombre-producto"><%= product.name %> </h2>
                    <h3 class="descripcion"> <%= product.shortDescription %> </h3>
                </div>
        </article>
    </a>
        <% }) %>

    </section>
    <!-- <div style="margin:auto;width:50%;padding-block:10%;text-align:center">
        <h2>Links a las vistas (para testing):</h2>
        <ul>
            <li style="margin-bottom:10px;margin-top:10px"><a href="/login">LOGIN</a></li>
            <li style="margin-bottom:10px"><a href="/register">REGISTER</a></li>
            <li style="margin-bottom:10px"><a href="/cart">CARRITO</a></li>
            <li style="margin-bottom:10px"><a href="/products/detail">DETALLE</a></li>
            <li style="margin-bottom:10px"><a href="/products">LISTA DE PRODUCTOS</a></li>
            <li style="margin-bottom:10px"><a href="/products/create">FORMULARIO DE CREACION</a></li>
            <li style="margin-bottom:10px"><a href="/products/edit">FORMULARIO DE EDICION</a></li>
        </ul>
    </div> -->
    <div class="button-prducts" style="text-align: center;">
     <a href="/products">
        <button  style="background-color: var(--azul); margin-bottom: 50px; margin-top: 50px; padding: 14px 28px; border-radius: 5%;"> TODOS LOS PRODUCTOS</button> 
        </a></div>
    </a>

</main>

<%- include('./partials/footer') %>