<%- include('./partials/head', { stylesheet: "productDetail" }) %>

<%- include('./partials/header') %>

<main>
    <article class="articulo">
        <div>
            <img src = "/img/products/<%= product.image %>" class="imagen">
        </div>
        <div class="detalle">
            <h2><%= product.name %></h2>
            <p><%= product.shortDescription %></p>
            <h3>$<%= product.price %></h3>
            <p><i class="fas fa-credit-card"></i> 12 Cuotas sin interés</p>
            <div class="descripcion">
                <h3>Descripción</h3>
                <ul class="lista-detalle">
                <% for(let i=0; i < product.longDescription.length; i++) {%>
                    <li><%= product.longDescription[i] %></li>
                <% } %>
                </ul>
            </div>
            <div class="buttons">
                <% if (user && user.admin) { %>
                    <a href="/products/<%= product.id %>/edit">
                        <button class="edit" type="button">EDITAR PRODUCTO</button> 
                    </a>
                    <form action="/products/<%= product.id %>?_method=DELETE" method="post">
                        <button class="delete" type="submit">ELIMINAR PRODUCTO</button> 
                    </form>
                <% } %>
            </div>
        </div> 
        

    </article>    
    
</main>

<%- include('./partials/footer') %>