<%- include('./partials/head') %>

<%- include('./partials/header') %>

<main>
 
    <h2 class="titulo"><%= heading %></h2>
    <section class="titulares">

        <% for (let i = 0; i < products.length; i++) { %>
           
                <article class="item">
 	            <a href="/products/<%= products[i].id %>">
                    <div> <img class="foto" src="/img/products/<%= products[i].image %>">
                        <h2 class="precio">$<%= products[i].price %></h2>
                        <h2 class="nombre-producto"><%= products[i].name %></h2>
                        <h3 class="descripcion"><%= products[i].shortDescription %></h3>
                    </div>
                </article>
            </a> 
        <% } %>

    </section>
</main>

<%- include('./partials/footer') %>