<%- include('./partials/head') %>

<%- include('./partials/header') %>

<main>
 
    <h2 class="titulo"><%= heading %></h2>
    <section class="titulares">

        <% for (let i = 0; i < products.length; i++) { %>
            <a href="/products/<%= products[i].id %>">
                <article class="item">
                    <div> <img class="foto" src="/img/products/<%= products[i].image %>">
                        <p class="precio">$<%= products[i].price %></p>
                        <p class="nombre-producto"><%= products[i].name %></p>
                        <p class="descripcion"><%= products[i].shortDescription %></p>
                    </div>
                </article>
            </a> 
        <% } %>

    </section>
</main>

<%- include('./partials/footer') %>