<%- include('./partials/head', { stylesheet: "profile" }) %>

<%- include('./partials/header') %>

<main > 

    <section class="main-user">
        
        <p>PERFIL DE USUARIO</p>
        <br>
        <p><%= user.username %></p>
        <br>
        <div class="imagen-usuario">
            <img src ="img/users/<%= user.image %>">
        
        </div>
    <section class="perfil-usuario">  
        
    
    <div class="button-profile">
        <a href="/account/edit">
        <button type="submit">Editar perfil</button>
        </a>
    </div>
    
    <div class="button-profile">
    <a href="/account/password-change">
        <button type="submit">Cambiar contraseña</button>
    </a>
    </div>
    
    <div class="button-profile">
    <% if (user && user.category == 'admin') { %>
    <a href="/products/create">
    <button class="create" type="button">Crear producto</button> 
    </a>
    <% } %>
    </div>

    <div class="delete">
    <form action="/account/logout" method="post">
    <button type="submit">Cerrar sesión</button>
    </form>
    </div> 
    
    </section>
    </section>
    
    
    </main>


<%- include('./partials/footer') %>

