<%- include('./partials/head', { stylesheet: "register" }) %>

<%- include('./partials/header') %>

<main>

    <section>

        <article class="title">
            <h2>Crear cuenta</h2>
        </article>

        <article class="form">
            <form action="/account/register" method="post" enctype="multipart/form-data" class="create-form">

                <div class="form-control">
                    <label for="email">Dirección de correo electrónico</label>
                    <input type="email" name="email" 
                    id="email" class="control" 
                    value="<%= locals.old && old.email %>" required>
                    <% if(locals.errors && errors.email) { %>
                        <small class="text-danger"> <%= errors.email.msg %> </small>
                    <% } %>
                </div>

                <div class="form-control">
                    <label for="username">Usuario</label>
                    <input type="text" name="username" 
                    id="username" class="control" 
                    value="<%= locals.old && old.username %>" required>
                    <% if(locals.errors && errors.username) { %>
                        <small class="text-danger"> <%= errors.username.msg %> </small>
                    <% } %>
                </div>

                <div class="form-control">
                    <label for="category">Categoría de usuario</label>
                    <select name="category" id="category" class="control" required>
                        <option disabled selected>Seleccionar...</option>
                        <option value="1" <% if (locals.old && old.category) { %> selected <% } %> >Administrador</option>
                        <option value="0" <% if (locals.old && !old.category) { %> selected <% } %> >Usuario</option>
                    </select>
                </div>

                <div class="form-control">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id="password" class="control" required>
                    <% if(locals.errors && errors.password) { %>
                        <small class="text-danger"> <%= errors.password.msg %> </small>
                    <% } %>
                </div>

                <div class="form-control">
                    <label for="password-confirm">Confirmar contraseña</label>
                    <input type="password" name="passwordConfirm" id="passwordConfirm" class="control" required>
                    <% if(locals.errors && errors.passwordConfirm) { %>
                        <small class="text-danger"> <%= errors.passwordConfirm.msg %> </small>
                    <% } %>
                </div>
                
                <div class="form-control">
                    <label for="image">Imagen de perfil</label>
                    <input type="file" name="image" id="image" accept="image/*" class="control-picture">
                </div>
                
                <button type="submit">CREAR CUENTA</button>

            </form>
        </article>

    </section>

</main>

<%- include('./partials/footer') %>