<%- include('./partials/head', { stylesheet: "userEdit" }) %>

<%- include('./partials/header') %>

<main>

    <section>

        <article class="title">
            <h2>Editar perfil</h2>
        </article>

        <article class="form">
            <form action="/account/edit?_method=PUT" method="post" class="create-form">

                <div class="form-control">
                    <label for="email">Dirección de correo electrónico</label>
                    <input type="email" name="email" id="email" class="control" value="<%= user.email %>" required>
                </div>

                <div class="form-control">
                    <label for="username">Usuario</label>
                    <input type="text" name="username" id="username" class="control" value="<%= user.username %>" required>
                </div>

                <div class="form-control">
                    <label for="category">Categoría de usuario</label>
                    <select name="category" id="category" class="control" required>
                        <option disabled selected>Seleccionar...</option>
                        <option value="admin" <% if (user.category == 'admin') { %> selected <% } %> >Administrador</option>
                        <option value="user" <% if (user.category == 'user') { %> selected <% } %> >Usuario</option>
                    </select>
                </div>
                
                <div class="form-control">
                    <label for="image">Imagen de perfil</label>
                    <input type="file" name="image" id="image" accept="image/*" class="control-picture">
                </div>
                
                <button type="submit">EDITAR</button>

            </form>
        </article>

    </section>

</main>

<%- include('./partials/footer') %>